nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }

  #logo h1 {
    padding-left: 50px;
    font-size: 2.4em;
  }
  
  nav {
    margin-top: 25px;
  }
  nav ul {
    float: right;
  }
  
  nav li {
    float: left;
    padding-right: 2px;
  }


  .print img {
    margin-right: 3px;
  }

  .recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }
  
  aside button {
    float: right;
    text-transform: uppercase;
    padding: 15px 40px;
    font-size: 1.2em;
  }
  aside p {
    padding-left: 100px;
    width: 65%;
    margin: 0;
    text-indent: 0;
  
  }
 
  
  #slogan {
    width: 250px;
    padding-left: 55px;
   
    font-size: .65em;
    text-transform: uppercase;
  }

  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
  }
  
 
  .print, .date {
   
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
  }

  .print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
  }

  .date {
    float: left;
  }
  
  
  
  
  .recipe {
    letter-spacing: .1em;
   
    height: 260px;
    padding: 37px 0 0 60px;
    margin: 40px 0;
  }
  
  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }
  
  
 