
 #logo {
    float: left;
    padding-bottom: 25px;
    color: black;
    text-decoration: none;
  }

#logo img {
    float: left;
  }
  
  #logo h1 {
    font-family: 'Yellowtail', cursive;
  }

  
  
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }
  
  h2 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
  }
  
  
  
  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }
  
  input {
    font-family: 'Patrick Hand', cursive;
  }
 
 


  aside img {
    float: left;
  }
  
  aside h3 {
    padding-left: 100px;
    font-size: 1.6em;
    padding-bottom: 10px;
    color: #555;
  }
  
  
  
  aside button {
    font-family: 'Abel', sans-serif;
    background: #b8705a;
    color: #fff;
    border: none;
  }

  #slogan {
  color: #a3a4a2;
  font-family: 'Abel', sans-serif;
  }
  
  .print, .date {
  color: #a9a8a5;
  font-family: 'Abel', sans-serif;
  }

  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }
  
  
  footer section p{
   
    text-align: center;
    color: #aaa;
  }
  
  .recipe{
  font-family: 'Patrick Hand', cursive;
  color: #666a42;
  background-image: url("img/list-bg.png");
  }